/*external styling*/


/*
-selectors- used to select elements by thier selectors.
*/

h1 {
    color: black !important;
    text-align: center;
    font-size: 2rem;
}
h2 {
    color: blue;
}

/*id selector - is is given more priority than other element*/
/*
Relative Lengths
    -are lengths that change relative to something
        - % unit for percentage
        - em relative to the current font size
        - rem relative to the current font size on the html element
        - vw relative to the width of the viewport divided to 100
        - vh relative to the height of the viewport divided to 100

Absolute Lengths
    - are lengths that don't change
        - px unit in pixels
        - in units in inches
        - pt units in points


UNiversal Selector - allows us to select all of our elements
*/

* {
    /*
        All elements will now have a font style of Courier New and the default will be about 20px
        monospace is a fallback font. In the event that the machine to view your documents does 
        not have the declared font, we will fallback to similar.

        font-family: changes the font style of text;
        font-size: changes the size of the text;
    */
    font-family: "Courier New", Monospace;
    font-size: 20px;

    /*CSS Reset*/
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(255, 168, 222);
}

html {
    scroll-behavior: smooth;
}

#zuitt-motto {
    letter-spacing: 5px;
}

nav {
    background-color: white;
}

section {
    height: 100vh;
    /* -vh- means viewport height meaning this measurement takes the 
    percentace od the overall height of the screen you are viewing */
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

ol{
    list-style-type: none;
}

.offering-item {
    text-transform: uppercase;
}

/*
Attribute Selector - allows us to select particular elements with the same attribute

    tagname[attribute]
        border-width: allows us to determine the thickness of an element's border;
        border-style: allows us to determine the style of the border;
        boder-color: it allows us to determien the color of an element's border;
*/

input[required] {
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    width: 90%;
    /* we defined the width of our input would be 
    at least 90% of the with of its parent element*/
}

/*
Adjacent Sibling Selector - allows to select a particular element that immediately follow a sibling element
        
selector + selector {
    property:value;
}
*/

#zuitt-motto + img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

/*
Descendant Selector - allows us to select elements that are the descendants of the first selector (anscestor)
    anscestor descendant
        color property and other similar porperties can also accept hex values. Hexadecimal
*/

#bootcamp-learning-list li {
    color: #8a4dd8;
}

/*
general sibling selector - allows us to select siblings that are after our previous sibling (first selector)

        sibling ~ selected sibling{

        }
*/

/*h2 ~ a {
    text-decoration: none;
}*/

a {
    text-decoration: none;
}

/*Register Section*/

form {
    text-align: center;
    background-color: antiquewhite;
    border: 2px solid black;
    height: 185px;
    width: 25vw;
    /*
    position property changes the position of an element
    based on a certain criteria

    position: relative - allows to move the position property to
    add a cretain measurement to the left of the element.

    the value % is based on the measurement of the parent element.
    the parent element being the section tag which is a block
    element and occupies the full width of the page

    in this the value
    */
    position: relative;
    left: 37%;
  
}
 /*
    Child Selector allows to select a particular child of parent element
*/

section > form > label {
    color: rgb(185, 45, 2);
}

#submitForm {
    background-color: #cf0053;
    border: 0px;
    border-radius: 15px;
    color: #fafafa;
    margin-top: 3px;
    padding: 2px;
}