
.rafImg {
    height: 20vh;
    width: 20vh;
    border-radius: 150px;
}

#para3 {
    color: #ffff00;
}

* {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    /*=====================*/
    text-align: center;
    
}

h1 {
    font-size: 3rem;
}

#head2 {
    text-transform: uppercase;
}

.languages-to-be-learned {
    background-color: #90ee90;
}

.tools-to-be-used {
    border-color: #0000ff;
    border-width: 2px;
    border-style: solid;
}

h3 + ol {
    list-style-type: none;
}

 ul ~ p:last-child {
    text-align: center;
}

ol li {
    letter-spacing: 10px;
}

/*============*/
#para1, #para2, #para3 {
    text-align: justify;
}